@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.typekit.net/nik2nzf.css");

body {
	font-family: "Roboto", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
	text-transform: uppercase;
}

b {
	font-weight: bold;
}

p {
	font-size: 14pt;
	line-height: 17pt;
	font-weight: 100;
}

p>b {
	font-weight: 500;
}

header {
	margin: 20pt;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

header>h1 {
	font-size: 36pt;
	width: 100%;
	align-self: center;
	text-align: center;
	margin-bottom: 20pt;
}

header>p {
	margin: 20pt;
	font-size: 18pt;
	line-height: 24pt;
}

header>#time-div {
	width: 100%;
	text-align: center;
	align-self: center;
	font-size: 36pt;
	font-weight: 600;
}

.word-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20pt;
	margin-top: 20;
	max-width: 600pt;
}

.letter {
	font-family: "t26-carbon", monospace;
	font-weight: 700;
	font-style: bold;
	font-size: 48pt;
	padding: 5pt;
	flex: 1 1 36pt;
	visibility: visible;
	text-align: center;
	text-transform: uppercase;
}

.unguessed {
	visibility: hidden;
}

#guesses-title, #word-message {
	text-align: center;
	color: #AEB9B9;
}

p.guessed-letters {
	width: 100%;
	padding: 20pt;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

span.guessed {
	font-size: 50pt;
	flex: 1 1 28pt;
	display: inline-block;
	width: 50pt;
	max-width: 50pt;
	height: 50pt;
	max-height: 50pt;
	text-align: center;
	margin: 10pt;
	color: #AEB9B9;
}

span.letter.guessed.already {
	animation: pulseGuessAlready 1s;
}

@keyframes pulseGuessAlready {
  0% {
    color: #AEB9B9;
  }
  10% {
    color: #c62d1f;
  }
  35% {
    color: #c62d1f;
  }
  100% {
    color: #AEB9B9;
  }
}

span.unguessed::before {
	visibility: visible;
	content: "_";
}

.game-stopped {
	display: none;
}

.game-running {
	display: block;
}

#time-div {
	display: none;
}

#start-button {
	display: none;
}

#instructions {
	height: 30vh;
}

.vanish-up {
	position: relative;
	animation: vanishUp 0.5s;
}

.collapsed {
	height: 0pt;
	opacity: 0%;
	display: none;
}

@keyframes vanishUp {
	0% {
		min-height: 30vh;
	}
	100% {
		top: -300pt;
		height: 0pt;
		opacity: 0%;
		padding-top: 0pt;
		padding-bottom: 0pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
	}
}





