body {
	font-family: "SF Pro", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
	text-transform: uppercase;
}

p {
	font-size: 14pt;
	line-height: 17pt;
	font-weight: 300;
}

header {
	margin: 20pt;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

header>h1 {
	font-size: 36pt;
	width: 100%;
	align-self: center;
	text-align: center;
}

header>p {
	margin: 20pt;
	font-size: 18pt;
	line-height: 24pt;
}

.word-container {
	display: flex;
	flex-wrap: nowrap;
}

.letter {
	font-size: 36pt;
	font-family: monospace;
	padding: 5pt;
	flex: 1 1 36pt;
	visibility: visible;
}

.unguessed {
	visibility: hidden;

}

span.unguessed::before {
	visibility: visible;
	content: "_";
}

/*.game-stopped {
	display: none;
}*/
.game-running {
	display: block;
}

#time-div {
	display: none;
}